<nav class="navbar navbar-dark bg-dark">
  <div class="container d-flex justify-content-between">
    <a href="/" class="text-decoration-none">
      <span class="navbar-brand mb-0 h2">Tus aportes aqui! -----></span>
    </a>
    <a href="/stories/create">
      <button class="btn btn-outline-light btn-sm">
        <i class="fas fa-plus"></i>
        Crear una nueva historia
      </button>
    </a>
  </div>
</nav>